export URL="http://autols1.ggtea.net:8196/autoxmas"

export GCP_CUSTOM_SEARCH_API_KEY=""
export GCP_CUSTOM_SEARCH_ENGINE_ID=""

export SERVICE_ACCOUNT_FILE_PATH=""


export SPOTIFY_CLIENT_ID=""
export SPOTIFY_CLIENT_SECRET=""

export MUSIXMATCH_API_KEY=""
export EVENT_ID="todo"
export STORAGE_ID=""
export STORAGE_ID_ARCHIVE=""
export STORAGE_URL=""

export EMPTY_MODE_SEARCH_WORD="探偵 クイズ 推理 アニメ " # クイズなど

export THREAD_TITLE_WORD="ならアニソン"
export DIRECT_MODE=0